@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lora', serif; */
}
:root{
    /* COLORS */
    --color-one:#1b1b1b;
    --color-two:#D99A4E;
    --color-three:#FFF;
    --color-four:#26967b;
    --color-bg:rgb(247, 247, 247);
    --color-bg_two:rgb(36, 36, 36);
    /* FONTS */
    --font-one:'Lora', serif;
    --font-two:'Open Sans', sans-serif;
    /* SIZES */
    --page-size:1000px;
}
body{
    scroll-behavior: smooth;
    background: var(--color-bg);
    transition: .3s;
}
#header{
    font-family: var(--font-one);
    z-index: 10;
    width: 100%;
    height: 100px;
    background: var(--color-one);
    color: var(--color-three);
    position: fixed;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.164);
}
#header h1{
    font-size: 3rem;
    transition: .3s;
}
#header h1 a{
    text-decoration: none;
    color: var(--color-three);
}
#header ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
#header li:last-child{
    background: var(--color-four);
    padding: 10px;
    border-radius:5px;
}
#header a li:last-child{
    color: var(--color-three);
}
#header li a{
    /* background-color: turquoise; */
    /* padding: 10px; */
    text-decoration: none;
    color: var(--color-three);
    transition: .3s;
}
#header li a:hover{
    color: rgba(230, 230, 230, 0.863);
}
.burguer{
    color: var(--color-three);
    position: absolute;
    z-index: 11;
    font-size: 1.9rem;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: .3s;
    display: none;
}
.box-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9;
    transition: .3s;
    margin-top: 100px;
    transform: translateX(-100%);
}
.click-out{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.menu-controls{
    width: 100%;
    color: var(--color-three);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-controls ul{
    display: flex;
    list-style: none;
}
.menu-controls li{
    margin: 20px;
    font-size: 1.5rem;
}
.menu{
    width: 70%;
    z-index: 9;
    height: 100vh;
    background: var(--color-one);
    background: var(--color-one);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.menu h3{
    color: var(--color-four);
    font-family: var(--font-two);
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.font-min{
    color: rgb(192, 188, 188) !important;
    font-size: .9rem !important;
}
.menu nav li{
    font-size: 1.2rem;
    margin-bottom: 15px;
    list-style: none;
    font-family: var(--font-two);
    display: flex;
    align-items: center;
}
.menu nav li i{
    font-size: 1.6rem;
    margin-right: 5px;
}
.menu li a{
    color: var(--color-three);
    text-decoration: none;
}
.menu p{
    color: var(--color-three);
    font-family: var(--font-two);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.menu .redes ul{
    display: flex;
    width: 100%;
    list-style: none;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.redes li{
    margin: 10px;
}
.bloco-content{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin-top: 100px;
    font-family: var(--font-one);
}
.slide{
    max-width: var(--page-size);
    margin: 0 auto;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-two); */
}
.slide .box{
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34);
    border-radius: 10px;
}
.slide .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    opacity: .4;
}
.inf-slide{
    z-index: 8;
    text-align: center;
    max-width: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-three);
}
.inf-slide h1{
    font-size: 3.5rem;
}
.inf-slide button{
    margin-top: 10px;
    border: none;
    padding: 10px 50px;
    min-width: 100px;
    border-radius: 5px;
    color: var(--color-three);
    background:var(--color-four);
    cursor: pointer;
    font-size: 1rem;
}
.txt{
    max-width: var(--page-size);
    margin: 0 auto;
}
.txt h2{
    font-size: 2rem;
    color: var(--color-one);
}
.txt p{
    font-size: 1.1rem;
    font-family: var(--font-one);
}
.grid-arts{
    border-radius: 5px;
    padding: 10px;
    max-width: var(--page-size);
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: auto auto;
    grid-template-areas: 
        "bl1 bl1 bl1"
        "bl2 bl2 bls"
    ;
    gap: 10px;
}
.bl1 img,
.bl2 img,
.bls img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.bl1,
.bl2,
.bls{
    transition: .3s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.bl1:hover,
.bl2:hover,
.bls:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.267);
}
.bl1{
    height: 200px;
    grid-area: bl1;
    width: 100%;
    position: relative;
}
.bl2{
    grid-area: bl2;
    height: 200px;
    position: relative;
    width: 100%;
}
.bls{
    grid-area: bls;
    height: 200px;
    width: 100%;
    position: relative;
}
.bls1{
    width: 100%;
    height: 100%;
}
.bls1 img,
.bls2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-img{
    font-family: var(--font-two) !important;
    padding-right: 10px;
    /* background: rgba(255, 255, 255, 0.295); */
    max-width: 300px;
    /* padding: 5px; */
}
.title-img{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--color-three);
    z-index: 3;
}
.title-img h3{
    font-size: 2rem;
    text-transform: uppercase;
}
.gray{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.726), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    border-radius: 10px;
}
.perfil{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem-perfil{
    width: 300px;
    height: 300px;
}
.imagem-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.contato-but{
    max-width: var(--page-size);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato-but button{
    color: var(--color-three);
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
    padding: 10px 50px;
    cursor: pointer;
    background:var(--color-four);
}
.end-page{
    width: 100%;
    height: 200px;
    background: var(--color-one);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.links-end{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.links-end li a{
    color: var(--color-three);
    font-size: 1.3rem;
}
@media screen and (max-width:1400px) {
    .controls{
        display: none;
    }
}
@media screen and (max-width:682px) {
    #header{
        justify-content: center;
    }
    #header h1{
        font-size: 1.5rem !important;
    }
    #header ul{
        display: none;
    }
    .burguer{
        display: unset;
    }
    .grid-arts{
        grid-template-areas: 
        "bl1 bl1 bl1"
        "bl2 bl2 bl2"
        "bls bls bls"
    ;
    }
}
@media screen and (max-width:300px) {
    .burguer{
        font-size: 1.4rem;
    }
    #header h1{
        font-size: 1.6rem;
    }
}
@media screen and (max-width:400px) {
    .inf-slide h1{
        font-size: 1.9rem;
    }
}
