@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/* font-family: 'Open Sans', sans-serif; */
:root{
    --title-size:30px;
    --font-size:18px;
    /* --------------- */
    --title-m:20px;
    --font-size-m:15px;


    --color-text:#282828;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.header{
    z-index: 10;
    background: #fff;
    height: 70px;
    position: fixed;
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    /* padding: 20px 100px; */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.068);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header p{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Satisfy', cursive;
}
.header p a{
    text-decoration: none;
    color: var(--color-text);
}
.header ul{
    list-style: none;
}
.header ul li{
    display: inline-block;
    font-size: var(--font-size);
}
.header ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: #232323;
    /* font-weight: 700; */
}
.header ul li a:hover{
    color:royalblue;
}
.header ul li:last-child{
    background: royalblue;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    border-bottom: none !important;
}
.white a{
    color: #fff !important;
}
.icon-menu{
    color: var(--color-text);
    font-size: 25px;
    display: none;
}
.icon-menu .center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    z-index: 9;
    width: 300px;
    height: 90vh;
    background: #fff;
    position: fixed;
    top: 70px;
    border-radius: 0px 0px 10px 0px;
    padding: 10px;
    transition: .3s linear;
    display: none;
    font-family: 'Oxygen', sans-serif;
}
#open-menu{
    transform: translateX(-100%);
}
.menu h4{
    width: 100%;
    text-align: center;
}
.menu ul{
    width: 100%;
}
.menu ul li{
    margin-bottom: 2px;
}
.menu ul li a{
    display: block;
    padding: 10px;
    /* background: rgb(240, 240, 240); */
    text-decoration: none;
    color: royalblue;
}
.menu .clb{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: salmon; */
    margin-bottom: 20px;
}
.menu .clb button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: royalblue;
    color: #fff;
    width: 200px;
}
.redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    gap: 10px;
}
.redes a{
    color: #232323;
}



.content{
    width: 100%;
    height: auto;
    position: absolute;
    top: 70px;
    overflow: scroll;
    /* background-color: yellowgreen; */
}
.hero,
.boxes{
    max-width: 1500px;
}
.hero{
    margin: 0 auto;
    width: 95%;
    height: 400px;
    background: #fff;
}
.grat{
    width: 100%;
    height: 100%;
    background: #fff;
}
.grat img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boxes{
    margin: 0 auto;
    width: 95%;
    /* background: #ebbc87; */
    font-family: 'Oxygen', sans-serif;
}
.boxes h2{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    /* background: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxes h2::after{
    content: '';
    width: 50px;
    height: 2px;
    background: #232323;
}
.mini-box{
    margin: 0 auto;
    width: 100%;
    /* background: coral; */
    padding: 10px;
}
.mini-box .box-mn{
    /* width: 350px; */
    max-width: 350px;
    /* background: rgb(134, 125, 117); */
    transition: .3s;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}
.mini-box .box-mn:hover{
    transform: scale(1.02);
}
.mini-box .boxes-in{
    justify-content: center;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.box-mn .im{
    width: 100%;
    height: 200px;
}
.box-mn .im img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-mn .inf-txt{
    padding: 10px;
    width: 100%;
    text-align: center;
    /* background-color: blanchedalmond; */
}
.inf-txt h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}




.merch{
    width: 100%;
    height: 200px;
    background-color: #232323;
    margin-bottom: 20px;
}
.merch img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.big-box{
    width: 100%;
    padding: 10px;
    /* background-color: aqua; */
    text-align: center;
}





footer{
    /* margin-top: 20px; */
    width: 100%;
    height: 200px;
    background: #232323;
}


@media screen and (max-width:830px) {
    .header p{
        font-size: 2rem;
    }
    .header ul li{
        font-size: var(--font-size-m);
    }
    .info h1{
        font-size: 2rem;
    }
}
@media screen and (max-width:510px) {
    .header{
        padding: 0px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .header ul{
        display: none;
    }
    .icon-menu{
        display: unset;
    }
    .info h1{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .menu{
        display: unset;
    }
    .blocos{
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    .mini-box .box-mn{
        gap: 0 !important;
        width: 150px;
        /* height: 150px; */
    }
    .mini-box .boxes-in{
        justify-content: center;
        gap: 5px;
    }
}
@media screen and (max-width:342px) {
    .mini-box .box-mn{
        width: 130px;
    }
    .box-mn .im{
        width: 100%;
        height: 100px;
    }
}